PORT= 443

WIDGET_UI_URL=http://localhost:3000/auth-callback
SIGNER_PRIVATE_KEY = ""

TWITTER_CLIENT_ID=""
TWITTER_CLIENT_SECRET=""
TWITTER_CALLBACK_URL=https://app.plurality.local/oauth-twitter/callback

TIKTOK_CLIENT_ID=""
TIKTOK_CLIENT_SECRET=""
TIKTOK_CALLBACK_URL=https://app.plurality.local/oauth-tiktok/callback

ROBLOX_CLIENT_ID=""
ROBLOX_CLIENT_SECRET=""
ROBLOX_CALLBACK_URL=https://app.plurality.local/oauth-roblox/callback

SNAPCHAT_CLIENT_ID=""
SNAPCHAT_CLIENT_SECRET=""
SNAPCHAT_CALLBACK_URL=https://app.plurality.local/oauth-snapchat/callback

INSTAGRAM_CLIENT_ID=""
INSTAGRAM_CLIENT_SECRET=""
INSTAGRAM_CALLBACK_URL=https://app.plurality.local/oauth-instagram/callback

FACEBOOK_CLIENT_ID=""
FACEBOOK_CLIENT_SECRET=""
FACEBOOK_CALLBACK_URL=https://app.plurality.local/oauth-facebook/callback

FORTNITE_CLIENT_ID=""
FORTNITE_CLIENT_SECRET=""
FORTNITE_CALLBACK_URL=https://app.plurality.local/oauth-fortnite/callback

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL=https://localhost/auth/google/callback

GROQ_API = ""

DB_HOST=plurality-local.chu4cwqm6wzs.eu-north-1.rds.amazonaws.com
DB_USER=postgres
DB_NAME=plurality_local
DB_PASSWORD=
DB_PORT=5432

CLOUDINARY_CLOUD_NAME=dblrsf3fe
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET= 

NODE_ENV=development

JWT_SECRET=""

STYTCH_PROJECT_ID= "project-test-1b1bd75d-90d4-4c94-91b2-44f03f4a1d29"
STYTCH_SECRET= ""

OPENSEA_API_KEY=""

PUBLIC_DAPP_OWNER_WALLET_PRIVATE_KEY=
DEFAULT_SOCIAL_SCORE=500

PROFILE_TYPE_STREAM_ID=kjzl6kcym7w8y5e4o0467pkvp693wogi90amrj8gzfr77k7tcngdzm4qrliz50m