PORT= 443

DASHBOARD_UI_URL=http://localhost:3000/sales/grid
WIDGET_UI_URL=http://localhost:3000/auth-pages/login
SIGNER_PRIVATE_KEY = ''

TWITTER_CLIENT_ID=''
TWITTER_CLIENT_SECRET=''
TWITTER_CALLBACK_URL=https://app.plurality.local/oauth-twitter/callback

TIKTOK_CLIENT_ID= ''
TIKTOK_CLIENT_SECRET= ''
TIKTOK_CALLBACK_URL=https://app.plurality.local/oauth-tiktok/callback

ROBLOX_CLIENT_ID=''
ROBLOX_CLIENT_SECRET=''
ROBLOX_CALLBACK_URL=https://app.plurality.local/oauth-roblox/callback

SNAPCHAT_CLIENT_ID=''
SNAPCHAT_CLIENT_SECRET=''
SNAPCHAT_CALLBACK_URL=https://app.plurality.local/oauth-snapchat/callback

INSTAGRAM_CLIENT_ID=""
INSTAGRAM_CLIENT_SECRET=""
INSTAGRAM_CALLBACK_URL=https://app.plurality.local:5000/oauth-instagram/callback

GROQ_API = ''

DB_HOST=
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_PORT=5432

NODE_ENV=development
