PORT= 5000

DASHBOARD_UI_URL=http://localhost:3000/sales/grid
WIDGET_UI_URL=http://localhost:3000/auth-pages/login
SIGNER_PRIVATE_KEY = ''

TWITTER_CLIENT_ID=''
TWITTER_CLIENT_SECRET=''
TWITTER_CALLBACK_URL=https://app.plurality.local:5000/oauth-twitter/callback

TIKTOK_CLIENT_ID= ''
TIKTOK_CLIENT_SECRET= ''
TIKTOK_CALLBACK_URL=https://app.plurality.local:5000/oauth-tiktok/callback

GROQ_API = ''

DB_HOST=
DB_USER=
DB_NAME=
DB_PASSWORD=
DB_PORT=5432

NODE_ENV=development
