version: '3.9'
services:
    #######
    # Verifier Backend
    #######
    plurality-smart-profile-api:
        container_name: plurality-smart-profile-api
        image: <image-uri>
        environment:
            PORT: 5000
            NODE_ENV: production
            PLURALITY_BACKEND: ${PLURALITY_BACKEND}
            TWITTER_CLIENT_ID: ${TWITTER_CLIENT_ID}
            TWITTER_CLIENT_SECRET: ${TWITTER_CLIENT_SECRET}
            TWITTER_CALLBACK_URL: ${TWITTER_CALLBACK_URL}
            TIKTOK_CLIENT_ID: ${TIKTOK_CLIENT_ID}
            TIKTOK_CLIENT_SECRET: ${TIKTOK_CLIENT_SECRET}
            TIKTOK_CALLBACK_URL: ${TIKTOK_CALLBACK_URL}
            ROBLOX_CLIENT_ID: ${ROBLOX_CLIENT_ID}
            ROBLOX_CLIENT_SECRET: ${ROBLOX_CLIENT_SECRET}
            ROBLOX_CALLBACK_URL: ${ROBLOX_CALLBACK_URL}
            SNAPCHAT_CLIENT_ID: ${SNAPCHAT_CLIENT_ID}
            SNAPCHAT_CLIENT_SECRET: ${SNAPCHAT_CLIENT_SECRET}
            SNAPCHAT_CALLBACK_URL: ${SNAPCHAT_CALLBACK_URL}
            INSTAGRAM_CLIENT_ID: ${INSTAGRAM_CLIENT_ID}
            INSTAGRAM_CLIENT_SECRET: ${INSTAGRAM_CLIENT_SECRET}
            INSTAGRAM_CALLBACK_URL: ${INSTAGRAM_CALLBACK_URL}
            FACEBOOK_CLIENT_ID: ${FACEBOOK_CLIENT_ID}
            FACEBOOK_CLIENT_SECRET: ${FACEBOOK_CLIENT_SECRET}
            FACEBOOK_CALLBACK_URL: ${FACEBOOK_CALLBACK_URL}
            FORTNITE_CLIENT_ID: ${FORTNITE_CLIENT_ID}
            FORTNITE_CLIENT_SECRET: ${FORTNITE_CLIENT_SECRET}
            FORTNITE_CALLBACK_URL: ${FORTNITE_CALLBACK_URL}
            GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
            GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
            GOOGLE_CALLBACK_URL: ${GOOGLE_CALLBACK_URL}
            VERIFIER_UI_URL: ${VERIFIER_UI_URL}
            WIDGET_UI_URL: ${WIDGET_UI_URL}
            GROQ_API: ${GROQ_API}
            DB_HOST: ${DB_HOST}
            DB_USER: ${DB_USER}
            DB_NAME: ${DB_NAME}
            DB_PASSWORD: ${DB_PASSWORD}
            DB_PORT: ${DB_PORT}
            CLOUDINARY_CLOUD_NAME: ${CLOUDINARY_CLOUD_NAME}
            CLOUDINARY_API_KEY: ${CLOUDINARY_API_KEY}
            CLOUDINARY_API_SECRET: ${CLOUDINARY_API_SECRET}
            JWT_SECRET: ${JWT_SECRET}
            STYTCH_PROJECT_ID: ${STYTCH_PROJECT_ID}
            STYTCH_SECRET: ${STYTCH_SECRET}
            USER_OTP_TEMPLATE_ID: ${USER_OTP_TEMPLATE_ID}
            CLIENT_OTP_TEMPLATE_ID: ${CLIENT_OTP_TEMPLATE_ID}
            PUBLIC_DAPP_OWNER_WALLET_PRIVATE_KEY: ${PUBLIC_DAPP_OWNER_WALLET_PRIVATE_KEY}
            PUBLIC_DAPP_OWNER_WALLET_ADDRESS: ${PUBLIC_DAPP_OWNER_WALLET_ADDRESS}
            DEFAULT_SOCIAL_SCORE: ${DEFAULT_SOCIAL_SCORE}
            EAS_BLOCKCHAIN_RPC: ${EAS_BLOCKCHAIN_RPC}
            EAS_CONTRACT_ADDRESS: ${EAS_CONTRACT_ADDRESS}
            PUBLIC_SCHEMA_UID: ${PUBLIC_SCHEMA_UID}
            PRIVATE_SCHEMA_UID: ${PRIVATE_SCHEMA_UID}
        ports:
            - '5000:5000'
        restart: always